* {
  background-color: #f0f5ff;
  color: white;
  user-select: none;
}

.loginClass {
  background-color: #f1f5f9;
}
.welcome_text {
  margin-top: 30px;
}
.heading_img {
  display: flex;
  justify-content: center;
}
.box_img {
  width: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.titlebox {
  font-weight: 700;
  font-size: 30px;
  color: blue;
}
.bs {
  margin-top: -4%;
  margin-right: 82%;
}
.man {
  margin-left: 85%;
  margin-top: -3%;
}
.din {
  margin-top: 20px;
  width: 60%;
  margin: 5px auto;
}
.di {
  margin-top: 5%;
  width: 60%;
  margin: 5px auto;
}
